*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: url(https://i.imgur.com/nOOMpJ7.jpg);
	background-color: black;
}


main{
	padding: 0 20px 20px;
	color: white;
}


/* common background color */
.result,
.feedBack,
h1,
.intro,
.startButton,
form,
.questText{
	background-color:black;
	
}


h1{
	padding: .4em;
	margin: 0;
}

/*	center items horizontally	*/

img,
h3,
p,
h1,
.intro,
.startQuizContainer{
	text-align: center;
}

.headerButton{
	background: none;
	border:none;
	border-radius: 8px;
	color: yellow;
	font-size: 35px;
	text-shadow: 2px 2px red;
	transition: 0.2s;
}

/* set font */
h2,
button
{
	font-family: 'Goblin One', cursive;
}

/*	hover items	*/
label:hover,
button:hover{
	background: rgb(70, 70, 70);
}

label:active,
button:active{
	background-color:black;
}


/* border-radius */
fieldset,
label,
p,
button,
img{
	border-radius: 8px;
}

/* cursor to pointer elements */
button,
input[type='radio'],
label{
	cursor: pointer;
}

p,
fieldset{
	border: 2px gray solid;
}

.intro{
	font-size: 30px;
	padding: 20px;
}

.startButton{
	border: 2px white solid;
	font-family: 'Goblin One', cursive;
	color: rgb(14, 97, 175);
	font-size: 25px;
	transition: 0.2s;
	padding:1em;
	background-color: white;
	margin-top: 4em;
}

.hidden{
	display: none;
}

h2{
	text-align: center;
	font-size: 35px;
	padding:10px;
	color:white;
	text-shadow: 2px 2px black;
	margin: .4em 0;
}

.textContainer{
	padding: 2em;
}

.questText{
	color: white;
	text-align: center;
	font-size: 25px;
	text-shadow: 2px 2px 1px black;
	margin:0;
	padding: .8em;
	border-radius: 8px;
}

form{
	margin: 1em auto;
	color: white;
	border-radius: 8px;
}

fieldset{
	margin:0;
	padding: .4em;
}

.noWrap{
	padding: .2em 0;
	margin: 0;
}

label{
	font-size: 23px;
	padding: 5px;
	display: table;

}

input[type='radio']{
	position: relative;
	float: left;
	top: 8px;
}

.buttonContainer{
	text-align: center;
}

.submitButton{
	margin-top: 1em;
	margin-bottom: 1em;
}

.retakeButton,
.nextButton,
.submitButton{
	border-radius: 8px;
	font-family: 'Goblin One', cursive;
	color: rgb(0, 119, 255);
	font-size: 20px;
	transition: 0.2s;
	padding:10px;
}

img{
	border: 2px solid grey;
}

.imageContainer{
	text-align: center;
}

.result,
.feedBack{
	padding: .8em;
	font-size: 25px;
}

h3{
	font-size: 30px;
}